# Compiled class files
*.class

# Logs
log/
logs/

# Gradle files
.gradle/
build/

# IntelliJ IDEA files
.idea/

# Eclipse files
.classpath
.project
.settings/

# Spring Boot-specific files
target/
*.jar
*.war
*.ear
*.zip

# Application properties
application.properties
application.yml

# IDE-specific files
.vscode/
*.iml
*.ipr
*.iws

# Maven-specific files
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
pom.xml.versionsBackup
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties

# Thumbnails
.thumbnail/
